{% load static %}
<link rel="stylesheet" href="{% static 'style-sheet/reviews.css' %}" />
<div class="container-detail">
  <div class="reviews-container mt-4">
    {% for review, rating in reviews_with_ratings %}
    <h4 class="mb-4">Reviews</h4>
    <div class="reviews">
      <div class="review-item border rounded p-3 mb-4 shadow-sm d-flex justify-content-between align-items-start">
        <div>
          <strong>{{ review.user.first_name }} {{ review.user.last_name }}</strong>
          <p class="mt-2">{{ review.comment }}</p>
          <small class="text-muted">Reviewed on {{ review.review_date|date:"d M Y H:i" }}</small>
        </div>
        <div>
          <span class="badge bg-warning text-dark">Rating: {{ rating }}</span>
        </div>
      </div>
      {% empty %}
      <div class="no-reviews-container review-item border rounded p-3 mb-4 text-center">
        <p class="no-reviews">No reviews yet for products in this collection.</p>
    </div>    
      {% endfor %}
    </div>
  </div>
</div>
