{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Product Detail
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style-sheet/collection-detail.css' %}" />
<script src="{% static 'js/collection_detail.js' %}"></script>
<script src="{% static 'js/wishlist.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<div class="container-detail">
  <div class="product-detail">
    {% include './previews.html' %}
    <div class="product-info">
      <p class="collection-title">{{ collection.name }}</p>
      <p class="product-subtitle">{{ collection.brand.name }} | {{ collection.name }}</p>

      <div class="price-info">
        <div>
          <div class="price-label">Starting From:</div>
          <div class="price-value">
            ฿{{ min_price|floatformat:0|intcomma|default:"N/A" }}
          </div>
        </div>
        <div>
          <div class="price-label">Last Sale:</div>
          <div class="price-value">
            ฿{{ last_sale_price|floatformat:0|intcomma|default:"N/A" }}
          </div>
        </div>
        <div>
          <div class="price-label">Brand New Price:</div>
          <div class="price-value">
            ฿{{ new_product_price|floatformat:0|intcomma|default:"N/A" }}
          </div>
        </div>
      </div>

      <hr />

      <div class="product-details">
        <div class="collection-subtitle">Product Detail</div>
        <div>
          <span>Brand: {{ collection.brand.name }}</span>
        </div>
        <div>
          <span>Colorway: {{ collection.colorway }}</span>
        </div>
        <div>
          <span>Release Date: {{ collection.created_at|date:"d/m/Y" }}</span>
        </div>
      </div>

      <div class="buttons">
        {% if can_add_product %}
          <a class="btn btn-light" href="{% url 'sell_detail' %}?action=sell&collection_id={{ collection.id }}">Sell</a>
        {% endif %}
        <a class="btn btn-dark" href="{% url 'product_size' collection.id %}?action=buy">Buy</a>
        <a href="javascript:void(0);" onclick="addToWishlist({{ collection.id }});" class="btn btn-outline-primary">Add to Wishlist</a>
      </div>
    </div>
  </div>

  {% include './show-reviews.html' %}
  {% include './recommendations.html' %}
  
</div>
{% endblock %}
