{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style-sheet/add-collection.css' %}">
  <title>Document</title>
</head>
<body>
  {% include 'nav-employee.html' %}
  <div class="container">
    <div class="add-collection">
      <h2>Add New Collection</h2>
      <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit" class="btn-black">Add Collection</button>
      </form>
    </div>
  </div>
  
</body>
</html>