body {
    font-family: 'Inter', sans-serif;
}

.hero {
    background-color: #f2f0f1;
}

#prevBtn,
#nextBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-wrapper {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.products-wrapper::-webkit-scrollbar {
    display: none;
}

.products {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.products::-webkit-scrollbar {
    display: none;
}



.product {
    flex: 0 0 auto;
    width: 280px;
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-info {
    padding: 15px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price-label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}


.category-link {
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    /* เปลี่ยนสีข้อความตามที่ต้องการ */
    text-decoration: none;
}

.category-link img {
    width: 100%;
    /* ขยายรูปภาพให้เต็มขนาดของ div */
    height: auto;
    /* รักษาสัดส่วนของรูปภาพ */
}

.category-text {
    position: absolute;
    top: 75%;
    left: 0%;
    font-size: 2rem;
    /* ขนาดของข้อความ */
    font-weight: bold;
    /* ความหนาของข้อความ */
    padding: 0.5rem 1rem;
    /* ช่องว่างรอบข้อความ */
    font-family: 'Playfair Display', sans-serif;
}

.rounded-image-gender {
    border-radius: 30px;
    /* ระดับความโค้งของมุมรูปภาพ */
    overflow: hidden;
    /* ซ่อนส่วนที่เกินจากขอบโค้ง */
}

#genderCarousel {
    width: 100vw;
    /* ความกว้างเต็มหน้าจอ */
    height: 100vh;
    /* ความสูงเต็มหน้าจอ */
}

.carousel-item img {
    width: 100vw;
    /* ความกว้างของรูปเต็มจอ */
    height: 100vh;
    /* ความสูงของรูปเต็มจอ */
    object-fit: cover;
    /* ครอบคลุมทั้งพื้นที่ของคารูเซล */
}


.carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.view-all {
    font-size: 0.75rem; 
    padding: 0.5rem 1rem;
}





.section-title {
    font-size: 2rem;
    font-weight: bold;
}
.section-subtitle {
    font-size: 1rem;
    color: #6c757d;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.product-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section-icon {
    color: #1d9bf0;
    margin-left: 0.5rem;
}
