
.sidebar-link {
    text-decoration: none; 
    color: #505050;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.sidebar-link.active {
    font-weight: bold; 
    color: #ffffff; 
    background-color: #444; 
}

.sidebar-link:hover {
    /* color: #ffffff; */
    text-decoration: underline;


}
