{% extends "base.html" %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style-sheet/sidebar.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  .swal2-title {
    font-size: 1.2rem; /* ปรับขนาดฟอนต์ที่นี่ */
  }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            {% include "profiles/sidebar.html" %}
        </div>

        <div class="col-md-8">
            <div class="card p-4">
                <h4>Edit Account Details</h4>
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-dark btn-sm d-block rounded-pill mx-auto">
                        Save Changes
                    </button>
                </form>

                  {% if messages %} {% for message in messages %}
                  <script>
                    Swal.fire({
                      icon: "{{ message.tags }}",
                      title: "{{ message }}",
                      showConfirmButton: false,
                      timer: 1500,
                    });
                  </script>
                  {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
