{% extends "base.html" %} {% load static %} {% block title %}Address{%endblock%} {% block style %}
<link rel="stylesheet" href="{% static 'style-sheet/sidebar.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  .swal2-title {
    font-size: 1.2rem; /* ปรับขนาดฟอนต์ที่นี่ */
  }
</style>
{% endblock %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">{% include "profiles/sidebar.html" %}</div>

    <div class="col-md-8">
      <div class="card p-4">
        <h4 class="mb-4">Address</h4>
        {% if addresses %} {% for address in addresses %}
        <div class="card mb-3 p-3 border">
          <div class="row">
            <div class="col-md-9">
              <p class="fw-bold">{{ address.recipient_name }}</p>
              <p>{{ address.address_line1 }}</p>
              <p>{{ address.address_line2 }}</p>
              <p>{{ address.road }}</p>
              <p>{{ address.subdistrict }}, {{ address.district }}</p>
              <p>
                {{ address.province }}, {{ address.country }} -
                {{address.postal_code }}
              </p>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-end">
              <a
                href="{% url 'edit_address' address.id %}"
                class="btn btn-outline-dark btn-sm me-2"
                >Edit</a
              >
              <!-- ปุ่มลบ -->
              <form
                action="{% url 'delete_address' address.id %}"
                method="post"
                style="display: inline"
              >
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <p
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;
            font-size: 1.5rem;
            font-weight: bold;
            color: #6b7280;
          "
        >
          No addresses available.
        </p>
        {% endif %}

        <a
          href="{% url 'newaddress' %}"
          class="btn btn-dark btn-sm d-block rounded-pill mx-auto"
          >Add new address</a
        >
      </div>

      {% if messages %} {% for message in messages %}
      <script>
        Swal.fire({
          icon: "{{ message.tags }}",
          title: "{{ message }}",
          showConfirmButton: false,
          timer: 1500,
        });
      </script>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
