{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style-sheet/base.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Joan:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block style %} {% endblock %}
  </head>

  <body>
    {% block nav%} {% include 'nav.html' %} {% endblock%}

    <main>{% block content %}Content{% endblock %}</main>

    {% block footer %} {% include 'footer.html' %} {% endblock %} 
    {% if messages%} {% for message in messages %}
    <script>
      Swal.fire({
        icon: "{{ message.tags }}",
        title: "{{ message }}",
        showConfirmButton: false,
        timer: 1500,
      });
    </script>
    {% endfor %} {% endif %}
  </body>
</html>
