{% extends "base.html" %} {% load static %} {% block title %} Home {% endblock%}
{% block style %}
<link rel="stylesheet" href="{% static 'style-sheet/homepage.css' %}" />
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %} {% block content %}

<!-- Main Section -->
<section class="section-main">
  <div class="main-content">
    <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
    <p>
      Browse through our diverse range of meticulously crafted garments,
      designed to bring out your individuality and cater to your sense of style.
    </p>
    <a href="{%url 'explore'%}" class="button-explore">Shop Now</a>
  </div>
  <div class="main-image">
    <img
      src="https://shopdee-image.s3.ap-southeast-2.amazonaws.com/homepage/trendy-fashionable-couple-posing.jpg"
      alt="Stylish couple wearing SHOPDEE clothes"
    />
  </div>
</section>

<!-- Brand Logos -->
<section class="section-band">
  <div class="band-container">
    <!-- ดึงข้อมูลจากตารางแบรนด์มาแสดงผล -->
    <div class="brand-logo">
      {% for brand in brands %}
      <a href="#">
        <img src="{{ brand.img_url }}" alt="{{ brand.name }}" />
      </a>
      {% endfor %}
    </div>
  </div>
</section>


<!-- New Arrivals Section -->
<section class="section-arrivals">
  <div class="container-arrivals">
    <h1 class="text-center title-arrivals">NEW ARRIVALS</h1>

    <!-- Products container -->
    <div class="products-wrapper">
      <div class="products" onclick="">
          {% for collection in collections %}
          <div class="product">
              <div class="product-info">
                  <a href="{% url 'detail' collection.id %}">
                      <div class="product-content">
                          <div class="product-img">
                              <!-- แสดงภาพของผลิตภัณฑ์ -->
                              <img src="{{ collection.primary_image.image_url }}" alt="{{ collection.name }}">
                          </div>
                          <div class="product-title">{{ collection.name }}</div>
                      </div>
                  </a>
                  <div class="product-content-price">
                      <div class="product-price-label">Starting From</div>
                      <div class="product-price">${{ collection.starting_price|default:"N/A" }}</div>
                  </div>
              </div>
          </div>
          {% endfor %}
          <!-- เพิ่มผลิตภัณฑ์เพิ่มเติมตามต้องการ -->
      </div>
  </div>
  

    <!-- View All Button -->
     <div class="view-all-content">
      <a href="{% url 'explore' %}" class="view-all">View All</a>
     </div>
  </div>
</section>


<section class="section-best-seller">
  <div class="container-best-seller">
    <h1 class="text-center title-arrivals">BEST SELLER</h1>

    <!-- Products container -->
    <div class="products-wrapper">
      <div class="products" onclick="">
        {% for popular_collection in most_popular_collections %}
          <div class="product">
              <div class="product-info">
                  <a href="{% url 'detail' popular_collection.id %}">
                      <div class="product-content">
                          <div class="product-img">
                              <!-- แสดงภาพของผลิตภัณฑ์ -->
                              <img src="{{ popular_collection.primary_image.image_url }}" alt="{{ popular_collection.name }}">
                          </div>
                          <div class="product-title">{{ popular_collection.name }}</div>
                      </div>
                  </a>
                  <div class="product-content-price">
                      <div class="product-price">Sales : {{ popular_collection.num_orders }}</div>
                  </div>
              </div>
          </div>
          {% endfor %}
          <!-- เพิ่มผลิตภัณฑ์เพิ่มเติมตามต้องการ -->
      </div>
  </div>
</section>


<!-- slide show -->
<section class="slide-show">
  <div id="genderCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% url 'explore' %}" class="category-link">
          <img
            src="https://shopdee-image.s3.ap-southeast-2.amazonaws.com/homepage/slideshow2.png"
            class="d-block w-100 rounded-image"
            alt="Air Jordan 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>NIKE AIR JORDAN 1</h5>
            <h4 class="btn btn-light rounded-pill">SHOP NOW</h4>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'explore' %}" class="category-link">
          <img
            src="https://shopdee-image.s3.ap-southeast-2.amazonaws.com/homepage/slideshow1.png"
            class="d-block w-100 rounded-image"
            alt="Nike Shop"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>NIKE Now Available</h5>
            <h4 class="btn btn-light rounded-pill">SHOP NOW</h4>
          </div>
        </a>
      </div>
    </div>
    <!-- Navigation controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#genderCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#genderCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

{% endblock %} {% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'script/script.js' %}"></script>
{% endblock %}
